.approvedcourse {
    display: flex;
    flex-direction: column;
}

.approved_top_wrapper {
    flex: 0.2;
    background-color: darkgreen;
    color: white;
    align-items: flex-start;
    overflow: hidden;
}

.approved_main_wrapper {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    background-color: whitesmoke;
    width: 100%;
    align-items: center;
    padding-top: 10px;
}