.nav {
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    width: 100%;
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    border: 0;
    margin-left: 0px;
    margin-right: 0px;
    background-color: 0;
    width: 33.3333%;
    background-color: grey;

}

.btn:hover {
    background-color: grey;
    cursor: pointer;

}

.btn span {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}