.home {
    display: flex;
    flex-direction: row;
}

.top_wrapper { 
    flex: 0.15;
    background-color: darkgreen;
    color: white;
    align-items: flex-start;
    overflow: hidden;
}

.main_wrapper {
    flex: 0.75;
    background-color: whitesmoke;
}

.footer_wrapper {
    flex: 0.1;
    background-color: darkgreen;
    color: white;
    align-items: flex-start;
    overflow: hidden;
}