.home {
    display: flex;
    flex-direction: row;
}

.top_wrapper { 
    flex: 0.2;
    background-color: darkgreen;
    color: white;
    align-items: flex-start;
    overflow: hidden;
}

.main_wrapper {
    flex: 0.8;
    background-color: whitesmoke;
}