/* Footer.css */
.footer {
    background-color: forestgreen;
    height: 70px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: white;
    margin: 0;
    padding: 10px;
}